
.bannerContainer {
  padding: 40px 0;
  position: relative;
  height: 300px; 
  max-width: 100vw;
  margin: 50px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  transition: opacity 0.1s linear;

    &:hover {
      cursor: pointer;
      .overlay {
        background: #0000007a; 
      }

      .content h2::before {
        transform: scaleX(1);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .overlay {
      transition: all 1s; 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background: #0000002e; 
      z-index: 0;
    }

    .content {
      position: absolute;
      z-index: 1; 
      text-align: center;
      padding: 20px;

      h2 {
        color: #ffff;
        text-transform: uppercase;
        letter-spacing: 1rem;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #fff;
          transform: scaleX(0);
          transition: transform 1s ease;
      }
    }
  }
}
